{% load static %}
<html lang="en">
<head>
     <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar </title>
</head>
<body>

    <header>
        <div class="menu">
              <div class="submenu">
                <a href="{% url 'Home' %}">Home</a>
              </div>
              <div class="submenu">
                <a href="{% url 'About' %}">About</a>
              </div>
              <div class="submenu">
                <a href="{% url 'Download' %}">Downloads</a>
              </div>
              <div class="submenu">
                <a href="{% url 'Login' %}">Login</a>
              </div>
              <div class="submenu">
                <a href="{% url 'Sign' %}">SignIn</a>
              </div>
              <div class="submenu">
                <a href="{% url 'Contact' %}">Contact</a>
              </div>
              
        </div>
    </header>

    <h1>Registration Form</h1>
    <form action="{% url 'Login' %}" method="post">
        {% csrf_token %}
        <label>username</label><br>
        <input type="text" placeholder="enter your name" name="n1"><br>
        <label>useremail</label><br>
        <input type="email" placeholder="enter your email" name="n2"><br>
        <label>password</label><br>
        <input type="password" placeholder="enter your password" name="n3"><br>
     
        <label>Gender</label><br>
        <input type="radio" name="rad" value="male">male
        <input type="radio" name="rad" value="female">female
        <input type="radio" name="rad" value="others">others  <br>
        <label>Job Type</label><br>
        <input type="checkbox" name="check" value="Assistant software Engineer">Assistant Software Engineer<br>
        <input type="checkbox" name="check" value="Senior Software Engineer">Senior Software Engineer<br>
        <input type="checkbox" name="check" value="Software Engineer">Software Engineer<br>
        <button>Login</button>
    </form>
    
    
</body>
</html>