<html>
    <head>
          <title>list </title>
    </head>

    <body>

        <!-- 
            bgcolor : 
            p : 
            b : bold 
            u : under line .
            br : line break . 
            hr  : horizontal rule . 
            dt :  definitio title . 
            dd : definition description. 

            superscirpt and subscript : sup and sub 
            img : src :
            anchor tag . another website we can connect from it .  target : blank .  
         -->
         <h1> welcome in tca </h1>

         <p><b><u>welcome in tca</u></b></p>
<br>
         10<sup>2</sup>=100
         <br>
         pb<sub>2</sub>O<sub>3</sub>=mucureic oxide . 
<br>
         <img src="rcb1.jfif" width="200" heigth="200">
         <br>
         <a href="https://www.anaconda.com/download/success" target="blank">python download </a>

         <!-- 
            list : collection of items .  <li></li>

            unordered list : unorganized list .  <ul></ul>
            ordered list : organized list . <ol></ol>
            types : number .
            alphabats . 
            roman numbers . 
          -->
         <h1 align="center">Teams in T20 World cup </h1>

         <ol>
            <li>India</li>
            <li>Pakistan</li>
            <li>Australia</li>
            <li>South Africa</li>
            <li>WestIndies</li>
            <li>England</li>
            <li>NewZeland</li>
            <li>Srilanka</li>
            <li>Bangladesh</li>
         </ol>

         <h2 align="center">political parties  in India </h2>

         <ul>
            <li>BJP</li>
            <li>Congress</li>
            <li>AAP</li>
            <li>BSP</li>
            <li>SP</li>
            <li>RJD</li>
            <li>TMC</li>
            <li>JDU</li>
         </ul>


         <!--  
            ol : 
            number : type='1',
           small alphabat : type='a',
           small roman number : type='i',
           capital alphabat : type='A',
           capital roman number : type='I'
          -->

          <h1>Olympic Games List </h1>
          <ol type="1">
            <li>jawelin</li>
            <li>Archery </li>
            <li>Boxing</li>
            <li>Wrestling</li>
            <li>High Jump</li>
            <li>long Jump</li>
            <li>weight Lifting </li>
            <li>marathon</li>
            <li>Running </li>
            <li>Swimming</li>
            <li>Badminton</li>
            <li>Table Tennis</li>
          </ol>

          <h1>Olympic Games List </h1>
          <ol type="i">
            <li>jawelin</li>
            <li>Archery </li>
            <li>Boxing</li>
            <li>Wrestling</li>
            <li>High Jump</li>
            <li>long Jump</li>
            <li>weight Lifting </li>
            <li>marathon</li>
            <li>Running </li>
            <li>Swimming</li>
            <li>Badminton</li>
            <li>Table Tennis</li>
          </ol>

          <h1>Vegetable</h1>
          <ol type="a">
           <li>potato</li>
           <li>Tomato</li>
           <li>Onion</li>
           <li>Brinjal</li>
           <li>cauli Flower </li>
           <li>Ginger </li>
           <li>Beans </li>
           <li>carrot </li>
           <li>cucumber</li>
           <li>raddish</li>
           <li>chilli </li>
           <li>capsicum</li>
          </ol>


          <h1>Vegetable</h1>
          <ol type="A">
           <li>potato</li>
           <li>Tomato</li>
           <li>Onion</li>
           <li>Brinjal</li>
           <li>cauli Flower </li>
           <li>Ginger </li>
           <li>Beans </li>
           <li>carrot </li>
           <li>cucumber</li>
           <li>raddish</li>
           <li>chilli </li>
           <li>capsicum</li>
          </ol>

          <!-- nested list   : list inside list   -->
          <ol>
            <li>Series</li>
            <ol type="i">
               <li>Arithmetic progress</li>
               <li>Geometic Progress</li>
            </ol>
            <li>Statistics </li>
             <ol type="i">
              <li>Mean</li>
              <li>Mode </li>
              <li>Median</li>
              <li>variance </li>
              <li>std</li>
             </ol>
          </ol>

    </body>
  
</html>