{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static '/css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>

    <h1>welcome in my website </h1>

    <table>
       <tr>
            <td>id</td>
            <td>name</td>
       </tr>
       <tr>
        <td>1</td>
        <td>kuldeep</td>
   </tr>
   <tr>
    <td>2</td>
    <td>Anurag</td>
</tr>
<tr>
    <td>3</td>
    <td>Ravi</td>
</tr>
    </table>
    
</body>
</html>