<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Register Here </h1>

    <form action="{% url 'FormData' %}" method="get">
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Email</label><br>
        <input type="email" name="email"><br>
        <label>Password</label><br>
        <input type="password" name="password"><br>
        <label>Mobile</label><br>
        <input type="number" name="mobile"><br>
        <label>Gender</label><br>
        <input type="radio" name="rad" value="Male">Male
        <input type="radio" name="rad" value="Female">FeMale 
        <input type="radio" name="rad" value="others">Others
        <br>
        <label>Subjects</label><br>
        <input type="checkbox" name="check1" value="pyton">python
        <input type="checkbox" name="check1" value="java">java
        <input type="checkbox" name="check1" value="php">php
        <input type="checkbox" name="check1" value="javascript">javascript
        <br>

        <button>login</button>

    </form>
    
</body>
</html>