<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>welcome in django </h1>
      <form action="{% url 'Home' %}" method="get">
          <label>Name</label><br>
          <input type="text" placeholder="enter your name" name="n1"><br>
          <label>Email</label><br>
          <input type="email" placeholder="enter your email" name="n2"><br>
          <label>Password</label><br>
          <input type="password" placeholder="enter your password" name="n3"><br>
          <button>click</button>
      </form>
</body>
</html>