input{
    width:50vw;
    height:40px;
    border-radius:7px;
    font-size:25px;
}

button{
    height:40px;
    font-size:30px;
    background-color:red;
    color:white;
}

h1{
    color:white;
    background-color:blue;
    text-align: center;
}

form{
    margin-left:20vw;
    margin-top:10vh;
}